@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
#text,
#author {
  font-family: "Courgette", cursive;
}

#buttons-container {
  margin-top: 50px;
  display: flex;
}
#text {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.btn-manu {
  width: 165px;
}
.link-container {
  height: 100px;
}

.github-link {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg");
  background-size: cover;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  #text {
    height: 100%;
    font-size: 22px;
  }
  #author {
    font-size: 18px;
  }
  p {
    width: 100%;
  }
  .btn-manu {
    transform: scale(0.8);
  }
}
